<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <form action="/addStudent" method="post" >

            <label for="name">Name</label>
            <input type="text" name="name" placeholder="name" >
            
        
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="email" >
           
        

            <label for="profileImageUrl">Profile Image Url</label>
            <input type="file" name="profileImageUrl" placeholder="Profile Image Url">
        
        </form>
        





    </div>
</body>
</html>